.comment{
    margin-top: 13px;
    margin-left: 3%;
    padding: 5px;
    width: 87%;
    border-radius: 7px;
    background-color: #ddd;
}

#container-info-button{
    display: flex;
}

#label-username{
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    border-bottom: 1px solid black;
}

#label-text{
    /* background-color: greenyellow; */
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    display: flex;
    width: 70%;
}

#container-content-comment{
    margin-left: 2%;
    margin-top: 5px;
    width: 500px;
}

#container-comment-button{
    margin-left: 20px;
}
