.session-form{
    margin-left: 10%;
    margin-top: 17%;
}

#login-title{
    /* margin-left: 70px; */
    font-size: 35px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#container-text-info{
    margin-top: 18px;
    width: 280px;
}

#text-info{
    font-size: 16px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

.errors{
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#container-email{
    margin-top: 15px;
}

#email{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    text-indent: 11px;
}

#container-password{
    margin-top: 6px;
}

#password{
    border: 0.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    text-indent: 11px;
}

#container-submit{
    margin-top: 30px;
    margin-left: 93px;
}

#submit-button{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F56B00;
    color: white;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    transition: 0.5s;
}

#submit-button:hover{
    font-size: 28px;
}