.session-form-signup{
    margin-left: 9.5%;
    margin-top: 9%;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#signup-title{
    font-size: 35px;
}

#container-text-info {
    margin-bottom: 10px;
}

#container-email-signup,
#container-username-signup,
#container-password-signup,
#container-confirm-pass {
    margin-bottom: 15px;
}


#email-signup{
    border: 0.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    text-indent: 11px;
}

#username{
    border: 0.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    text-indent: 11px;
}

#password-signup{
    border: 0.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    text-indent: 11px;
}

#confirm-password{
    border: 0.5px solid black;
    border-radius: 20px;
    font-size: 25px;
    text-indent: 11px;
}

#container-submit-signup{
    margin-top: 35px;
    margin-left: 80px;
    margin-bottom: 20px;
}

#submit-signup{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F56B00;
    color: white;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

#submit-signup:hover{
    font-size: 28px;
}

.signup-errors {
    position: relative;
    bottom: 5px;
    color: red;
}