#no-comments-label{
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

.comments-index{
    margin-left: 2%;
}

#label-all-comments{
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}