.compose-comment{
    margin-top: 15px;
}

#text-field{
    font-size: 15px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#tags-field{
    margin-left: 15px;
    margin-top: 10px;
    height: 30px;
    font-size: 15px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#submit-button-comment{
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    margin-left: 2%;
    background-color: #F56B00;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    transition: 0.5s;
}

#submit-button-comment:hover{
    font-size: 23px;
}

#container-comment-compose{
    margin-bottom: 20px;
}

.comment-preview{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 7px;
}

#label-comment-preview{
    font-size: 20px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}