.modal-background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(25, 25, 25, .5);
    z-index: 2;
}

.modal-foreground{
    border: 1px solid black;
    border-radius: 20px;
    min-height: 500px;
    min-width: 350px;
    background-color: white;
    z-index: 3;
    position: absolute;
    top: calc(50% - 260px);
    left: calc(50% - 175px);
}