#nav-bar{
    background-color: #F56B00 ;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container-links-main{
    margin-left: 35px;
}

#conteiner-buttons{
    display: flex;
}

#link-main{
    display: flex;
    justify-content: center;
    font-size: 27px;
    text-decoration: none;
}

#link-main:visited{
    color: black;
}

#name-webpage{
    color: black;
    margin-top: 11px;
    margin-left: 13px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#name-webpage:hover{
    cursor: pointer;
}

#container-search{
    margin-left: 50px;
    font-size: 25px;
}

#icon-search:hover{
    cursor: pointer;
}

#search-bar{
    border: 1.4px solid black;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    text-indent: 6px;
}

#conteiner-buttons{
    margin-right: 40px;
}

#link-logout{
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    height: 20px;
    padding: 5px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

#link-logout:hover{
    font-size: 28px;
    cursor: pointer;
    background-color: #ddd;
    transition: 0.5s;
}

#conteiner-profile{
    margin-left: 10px;
}

#button-profile{
    margin-top: 9px;
    border: 1px solid black;
    border-radius: 10px;
    width: 35px;
    height: 25px;
    transition: 0.5s;
}

#button-profile:hover{
    background-color: #ddd;
    cursor: pointer;
    width: 45px;
    height: 33px;
    margin-top: 3px;
    transition: 0.5s;
}

#container-profile-logo{
    font-size: 30px;
    margin-top: -5px;
    margin-left: -6px;
    transition: 0.5s;
}

#container-profile-logo:hover{
    font-size: 40px;
    transition: 0.5s;
}

#button-demo-user{
    border: 1px solid black;
    border-radius: 5px;
    height: 44px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    transition: 0.5s;
}

#button-demo-user:hover{
    font-size: 28px;
    background-color: #ddd;
    cursor: pointer;
    transition: 0.5s;
}

#link-login{
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 10px;
    height: 45px;
    padding: 5px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

#link-login:hover{
    font-size: 28px;
    background-color: #ddd;
    cursor: pointer;
    transition: 0.5s;
}

#link-signup{
    margin-left: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    height: 45px;
    padding: 5px;
    font-size: 25px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

#link-signup:hover{
    font-size: 28px;
    background-color: #ddd;
    cursor: pointer;
    transition: 0.5s;
}

#img-main{
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#container-logout{
    margin-top: 5px;
}

#link-logout{
    color: black;
}

#link-logout:visited{
    color: black;
}

#dropdown{
    margin-left: 10px;
    margin-top: 5px;
}

#dropbtn{
    border: 1px solid black;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}

#container-info-logo{
    margin-top: -4px;
    margin-left: -4px;
}

#dropbtn{
    margin-top: 7px;
    padding: 3px;
    font-size: 20px;
}

/* #dropdown{
    position: relative;
    display: inline-block;
}

#dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.5s;
}

#link-about{
    color: black;
    background-color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#link-about:hover{
    background-color: #ddd;
    transition: 0.5s;
}

#dropdown:hover #dropdown-content{
    display: block;
} */