

.chatContainer{
    display: flex;
    width: 100%;

    height:100%;
    align-items: center;
    justify-items: center;
    margin-left: 500px;
    margin-top: 25px;
    /* background-color: blue; */
}

.chatForm {
    display:flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */

}

.chatInput {
    width: 300px;
    height: 30px;
    border-radius: 10px;

}

.chatSubmit {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 24px;
    background-color: #F56B00;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    transition: 0.5s;
}