#label-select-tags{
    margin-right: 10px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#tagSelectet{
    font-size: 15px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#li-selected-tag{
    font-size: 15px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#option-select-tag{
    font-size: 15px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

#option{
    font-size: 15px;
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}
